@media screen and (max-width : 1000px) {
   
    html,body{
        width: 100%;
        margin: auto;
    }
    nav{
        background: linear-gradient(to right, #17525e,rgba(0, 0, 0, 0.567));
        width: 100%;
        height: 120px;
        border: 5px solid black;
    }
    .web-name{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: black;
        font-size: 55px;
        font-weight: bolder;
        letter-spacing: 1px;
        margin: 25px 0 0 50px;
    }
    .open{
        width: 125px;
        height: 95px;
        /* box-shadow: 2px 2px 20px; */
        margin: -70px 0 0 800px;
    }
    .open:hover{
        transform: rotate(90deg);
        transition: 0.9s;
    }
    .close{
        width: 100px;
        height: 100px;
        background-color: black;
        border-radius: 50%;
        margin: 50px 0 0 800px;
    }
.line{
    margin: 0px 0 25px 10px;
    width: 90px;
    height: 8px;
    background-color: black;
}
.line1,.line2{
background-color: white;
height: 5px;
width: 80px;
position: absolute;
transform: rotate(45deg);
margin: 48px 0 0 11px;
}
.line2{
    transform: rotate(130deg);
}
.close:hover{
    transform: rotate(90deg);
    transition: 0.5s;
}
#navcontent-holder{
    z-index: 2;
    top: 0;
    text-align: center;
    transition: 0.5s;
    width: 0%;
    height: 600px;
    position: fixed;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.642);
}
#navcontent-holder a{
  font-size: 56px;
  display: block;
  text-decoration: none;
  color: white;
font-weight: bolder;
margin-bottom: 35px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* ===========================
================================================= */

.productbrand-holder button{
    float: left;
    font-size: 48px;
    margin-left: 35px;
    width: 300px;
    height: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    border-radius: 25px;
    border: none;
    background-color: lightgray; 
}
.productbrand-overflow{
width: 100%;
overflow: scroll;
height: 150px;
margin-top: 70px;
}
.productbrand-holder{
    width: 220%;
    height: 100px;
    margin-top: 25px;
}
.products-contains{
    /* box-shadow: 2px 2px 25px; */
    float: left;
    margin: 50px 0 0 20px;
    width: 950px;
    height: 700px;
    border-bottom: 0.5px solid black;
    /* border: 5px solid black; */
}

.product-img{
    width: 250px;
    margin: 50px 0 0 0;
}
.product-img1{
    width: 170px;
    margin: 40px 0 0 50px;
}
.product-name{
    font-weight: bolder;
    font-size: 50px;
    position: absolute;
    margin: -350px 0 0 300px;
}
.product-price{
    position: absolute;
    font-weight: bolder;
    font-size: 48px;
    color: red;
    margin: -220px 0 0 300px;
}
table{
margin: -165px 0 0 280px;
}
tr{
    font-size: 38px;
}
th{
    width: 200px;
    height: 60px;
}
td{
    width: 600px;
}
.romram-holder a{
    text-decoration: none;
}
.ram,.rom{
    font-size: 46px;
    margin: 50px 0 0 130px;
    width: 170px;
    height: 70px;
    border: none;
    border-radius: 15px;
    background-color: rgba(210, 207, 207, 0.715);
}
.ram:hover{
    color: orangered;
}

}